body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.contentCont {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*tr:nth-child(odd) {
  background: #CCC
}

tr:nth-child(even) {
  background: #FFF
}*/

.mainContent {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 100%;
}



.mainContent {
  padding-top: 20px;
}

.warning {
  background-color: #F66;
}

.input-group-addon {
  padding: 0px 12px;
}

label {
	font-weight: inherit;
}